nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.section {
    padding: 2rem 0;
    border-bottom: 1px solid #ddd;
}
h2 {
    
    text-align: center;
}



@font-face {
    font-family: 'Pacifico';
    src: url('assets/fonts/pacifico/Pacifico.ttf') format('truetype');
}

@font-face {
    font-family: 'Gelato';
    src: url(assets/fonts/gelato/Gelato.ttf) format('truetype');
}

.title-font {
    font-family: 'Pacifico', sans-serif; /* fallback to sans-serif if font fails to load */
    color: #9AB361;
}

.title-font-L {
    font-family: 'Gelato', sans-serif; /* fallback to sans-serif if font fails to load */
    color: #9AB361;
    font-size: calc(1.675rem + .3vw) !important;;
    font-weight: bolder;
    font-style: italic;
}

.nav-item {
    padding-top: 5px;
}

/* Center the text in the lightbox caption */
.glightbox-container .gdesc {
    text-align: center; /* Center the text */
    width: 100%;        /* Make sure the caption area takes full width */
    padding: 10px;      /* Optional: add some padding for better readability */
}

#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button 20px from the bottom */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #ffffff; /* Set background color */
    color: white; /* Set text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

